

body {
	font-family: 'Gabarito', sans-serif;
}
#surface td {
	opacity: 0.5;
}
#surface {
	border-collapse: collapse;
	font-family: monospace;
	font-size: 1.5em;
	background: url('/media/sky.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
#btnCreate {
	margin: 0px 10px;
	padding: 10px 20px;
	font-family: 'Gabarito', sans-serif;
	border: none;
	border-radius: 10px;
	transition: 0.5s;
}
#btnCreate:hover {
	background-color: rgba(178,204,255,1);
}
.center {
	display: flex;
	justify-content: center;
}
table {
	margin-top: 25px;
}